/* CSS style page for the bike website */

/* pixel sizes and background color */
body {
  margin: 10px;
  width: 725px;
  background-color: lightgreen;
}

/* padding to headers */
h1 {
  padding: 10px;
}

h2 {
padding: 10px;
}

/* padding to paragraphs */
p {
  padding-left: 5px;
  padding-right: 5px;
}

/* padding to list items */
li {
  padding: 10px;
}

/* blue border with rounded corners to img */
header img {
  border: 3px blue;
  border-radius: 10px;
}

/* CSS for columns */
.columns:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}
