/* CSS style page for the bike website */

/* pixel sizes and background color */
body {
  margin: 10px auto;
  max-width: 90%;
  background-color: lightblue;
}

/* padding to headers */
h1, h2 {
  padding: 10px;
}

/* padding to paragraphs */
p {
  padding-left: 5px;
  padding-right: 5px;
}

/* padding to list items */
li {
  padding: 10px;
}

/* blue border with rounded corners to img */
.bluetouch img {
  border: 6px solid lightgray;
  border-radius: 500px;
  max-width: 100%;
  height: 100px;
  display: block;
}

ul {
  padding-left: 10px;
}

/* CSS for columns */
main, aside {
  width: 48%;
  height: auto;
  background-color: white;
  float: left;
}

aside {
  width: 48%;
  height: auto;
  background-color: white;
  float: right;
}

/* CSS for the navigation bar */
.nav-bar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.nav-bar li {
  padding: 10px;
}

.nav-bar li a {
  color: darkgreen;
  padding: 14px 20px;
  display: block
}

/* media queries */
@media screen and (max-width: 900px) {
  main {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 900px) {
  aside {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
  }

  .nav-bar li {
    text-align: center;
    width: 100%;
  }

  body {
    max-width: 100%;
    margin: 0;
    padding: 10px;
  }
}
