/* CSS style page for the bike website */

/* pixel sizes and background color */
body {
  margin: 10px;
  width: 725px;
  background-color: lightgreen;
}

/* padding to headers */
h1 {
  
}

h2 {

}

